[tool.poetry]
name = "grnndata"
version = "0.1.0"
description = "Awesome gene regulatory network enhanced anndata"
authors = ["jkobject"]
readme = ["README.md", "LICENSE"]
license = "GPL3"
repository = "https://github.com/cantinilab/GRnnData"
keywords = ["scRNAseq", "gene regulatory networks", "anndata", "scPrint"]

[tool.poetry.dependencies]
python = "^3.10"
anndata = "*"
scipy = "*"
networkx = "*"
gseapy = "1.*"
numpy = "*"

[tool.poetry.group.dev.dependencies]
pytest = "^7.4.3"
coverage = "^7.3.4"
flake8 = "^6.1.0"
black = "^23.12.1"
isort = "^5.13.2"
pytest-cov = "^4.1.0"
mypy = "^1.8.0"
gitchangelog = "^3.0.4"
mkdocs = "^1.5.3"
mkdocs-git-revision-date-localized-plugin = "*"
mkdocstrings = "*"
mkdocs-git-authors-plugin = "*"
mkdocs-jupyter = "*"
mkdocstrings-python = "*"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
grnndata = 'grnndata.__main__:main'